html,
body {
  height: 100%;
}

body {
  padding-top: 5rem;
  background-image: url('3194926.jpg');
  background-size: cover; /* ปรับขนาดรูปภาพให้เต็มพื้นที่ของหน้าจอ */
  background-position: center; /* กำหนดตำแหน่งของรูปภาพให้กลางหน้าจอ */
}

.form-signin {
  max-width: 25rem;
  margin: auto;
}
